/*
this file is named "site.css" and is in a directory named "css"
*/

#text-style {
	font-family: "Courier New", Monospace;
	font-style: italic;
	font-size:  3em;
	font-weight: bolder;
	text-decoration: underline line-through;
	width: 30em;
}

#basic_selectors, .fancy-header {
    font-weight: bolder;
    text-decoration: underline;
}

.danger {
    color: #ff0000;
}

div:hover {
    background-color: #00ff00;
}

.right-just {
    text-align: right;
    font-size: 3em;
    font-family: "Times New Roman", Times, Serif;
}

.limit-size {
	max-height: 5em;
	max-width: 10em;
}

p {
    color: #00f;
}

#override {
    color: inherit;
}
