body {
    background-color: rgba(20, 30, 255, 0.2);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(30, 255, 30, 0.6);
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 5px;
    border: 4px solid black;
}

.star {
    font-size: 1.5rem;
}

td {
    padding: 10px;
}

.slide_table {
    padding-top: 1rem;
    padding-left: 2rem;
    max-width: 60rem;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    margin-bottom: 2em;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.first-third {
    width: 33%;
}

.topic_spacer {
    width: 2rem;
}

.mainTitle {
    margin-left: 12rem;
    margin-top: 3rem;
}

.grid-img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: auto;
    object-fit: cover;
    margin-top: 1rem;
    border: 2px solid black;
}

.sm-img {
    width: auto; /* You can set the dimensions to whatever you want */
    max-height: 100px;
    object-fit: cover;
    margin-top: 1rem;
    border: 2px solid black;
}

.md-img {
    width: auto; /* You can set the dimensions to whatever you want */
    max-height: 250px;
    max-width: 40rem;
    object-fit: cover;
    margin-top: 1rem;
    border: 2px solid black;
    margin-right: 2rem;
}

.lg-img {
    width: auto; /* You can set the dimensions to whatever you want */
    max-height: 500px;
    max-width: 60rem;
    object-fit: cover;
    margin-top: 1rem;
    border: 2px solid black;
    margin-right: 2rem;
}

.bullet-star {
    vertical-align: text-top;
}

.indent-star {
    padding-left: 2em;
}

.indent-star-4 {
    padding-left: 4em;
}

.bullet-point {
    visibility: hidden;
    margin-left: 1rem;
    font-size: 2rem;
}

.bullet-subpoint {
    visibility: hidden;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.top-buffer {
    margin-top: 1rem;
}

.bot-buffer {
    margin-bottom: 1rem;
}

.horizontal-scroll {
    background-color: #eee;
    overflow: auto;
    max-width: 40em;
    font-size: .7em;
    font-family: Courier;
    float: left;
    white-space: nowrap;
    padding: .5em;
    margin-bottom: .5em;
    border: 2px solid black;
}

em {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
}

.green {
    color: green;
}

.blue {
    color: blue;
}
